In [1]:
import pandas as pd
import numpy as np

In [3]:
age = 30
country = 'Brazil'

In [7]:
10**3 == 1000

True

In [13]:
10*3 == age

True

In [17]:
if age >= 18:
    print("adult")
else:
    print("minor")

adult

In [19]:
if age <= 18:
    print("child chapathi")
else:
    print("Gnadsu")

Gnadsu

In [21]:
#Loop

In [31]:
for number in [1,2,3,4,5,0]:
    print(number)

1
2
3
4
5
0

In [33]:
my = [3,4,9,12]
for number in my:
    print(number/3)

1.0
1.3333333333333333
3.0
4.0

In [35]:
#Function

def adult (age):
    if age>=18:
        print("gandsi")
    else:
        print('child')

In [37]:
adult(14)

child

In [41]:
list = [0,10,4,3,6,3,5]
sorted(list)

[0, 3, 3, 4, 5, 6, 10]

In [51]:
#Class

magic = "HOCUS POCUS"
print(magic)
print(type(magic))

HOCUS POCUS
<class 'str'>

In [49]:
magic = 786
print(magic)
print(type(magic))

786
<class 'int'>

In [53]:
magic = magic.swapcase()
magic

'hocus pocus'

In [73]:
magic = magic.swapcase()
magic

'bOcus pocus'

In [75]:
magic = magic.replace('HO', 'Bo')
magic

'bOcus pocus'

In [77]:
magic = magic.split()
magic

['bOcus', 'pocus']

In [79]:
magic = magic.pop()
magic

'pocus'

In [81]:
magic = magic.swapcase()
magic

'POCUS'

In [83]:
#Anything after dot notation and has () is called a method of the class of method.

In [85]:
#Anything after dot and dont have () are attributes

In [97]:
age = [23,42,32,54,12]
max_age = max(age)
max_age

54

In [101]:
min_age = min(age)
min_age

12

In [103]:
dif = max_age - min_age
dif

42

In [1]:
##FUNCTIONS

In [3]:
number = 15
type(number)

int

In [9]:
number = str(number)
type(number)

str

In [7]:
number

'15'

In [19]:
def greeting(name):
    print('Welcome,' + name + '!')
    print('you are part of team!')
greeting('Rebecca')

Welcome,Rebecca!
you are part of team!

In [21]:
greeting('Sathvik')

Welcome,Sathvik!
you are part of team!

In [23]:
def area_triangle(base, height):
    return base*height/2

In [25]:
area_triangle(5,4)

10.0

In [27]:
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
total_area = area_a +area_b
total_area

20.5

In [49]:
def greeting(name):
    return name + '1'

In [51]:
greeting('sathvik')

'sathvik1'

In [53]:
def greeting(name):
    return name + 1

In [55]:
greeting(2)

3

In [61]:
def seconds(hours,minutes,seconds):
    total_seconds = 3600*hours + 60*minutes + seconds
    return total_seconds

In [63]:
seconds(1,10,60)

4260

In [77]:
name = "sathvik"
number = len(name)*9

print('Hello ' +name+ ' your lucky numnber is ' + str(number))

name = "Mindrikumar"
number = len(name)*9

print('Hello ' +name+ ' your lucky numnber is ' + str(number))

Hello sathvik your lucky numnber is 63
Hello Mindrikumar your lucky numnber is 99

In [83]:
def lucky_number(name):
    number = len(name)*9
    print('Hello ' +name+ ' your lucky numnber is ' + str(number))

In [85]:
lucky_number('sathvik')

Hello sathvik your lucky numnber is 63

In [93]:
def seed_calculator(fountain_side, grass_width):
    """
    Calculate number of kilograms of grass seed needed for
    a border around a square fountain.

        Parameters:
            fountain_side (num): length of 1 side of fountain in meters
            grass_width (num): width of grass border in meters

        Returns:
            seed (float): amount of seed (kg) needed for grass border
    """
    # Area of fountain
    fountain_area = fountain_side**2
    # Total area
    total_area = (fountain_side + 2 * grass_width)**2
    # Area of grass border
    grass_area = total_area - fountain_area
    # Amount of seed needed (35 g/sq.m)
    seed = grass_area * 35
    # Convert to kg
    seed = seed / 1000

    return seed

In [95]:
seed_calculator(12,2)

3.92

In [151]:
def valid_name(name):
    if len(name)< 8:
        print (' Not Valid name')
    elif len(name)>15:
        print (' Not Valid name')
    else :
        print('valid')

In [153]:
valid_name('sa')

 Not Valid name

In [159]:
valid_name('Sathvikmn')

valid

In [161]:
# Define a function named `total_sales`
def total_sales():

    # Return a value
    return

In [163]:
def total_sales(n):
    sales = n*7.99

    # Return a value
    return sales

In [165]:
total_sales(59)

471.41

In [167]:
def total_sales(n, price):
    sales = n*price

    # Return a value
    return round(sales,2)

In [169]:
total_sales(15.99, 1001)

16005.99

In [171]:
def is_even(n):
    if n %2 == 0:
        return True
    return False

In [173]:
is_even(9)

False

In [183]:
def is_even(n):
    if n %2 == 0:
        return True
    else: 
        return False

In [185]:
is_even(9)

False

In [1]:
##Loops

In [5]:
x=0

while x<6:
    print('Not yet there, x=' + str(x))
    x=x+1
    print('x=' + str(x))

Not yet there, x=0
x=1
Not yet there, x=1
x=2
Not yet there, x=2
x=3
Not yet there, x=3
x=4
Not yet there, x=4
x=5
Not yet there, x=5
x=6

In [7]:
#Guessing game

In [3]:
import random

In [5]:
number = random.randint(1,25)

In [7]:
number_of_guesses = 0

In [9]:
while number_of_guesses<5:
    print('Guess a random number between 1 to 25: ')
    guess = input()
    guess = int(guess)
    number_of_guesses += 1

    if guess == number:
        break
    elif number_of_guesses == 5:
        break
    else:
        print('Nope, try again later.')


if guess == number:
    print('correct, you guessed the number in ' + str(number_of_guesses) + 'tries!')
else:
    print('you did not guess the right number, the number was '+ str(number))

Guess a random number between 1 to 25:

 5

Nope, try again later.
Guess a random number between 1 to 25:

 5

Nope, try again later.
Guess a random number between 1 to 25:

 5

Nope, try again later.
Guess a random number between 1 to 25:

 5

Nope, try again later.
Guess a random number between 1 to 25:

 5

you did not guess the right number, the number was 20

In [19]:
import random

number = random.randint(1,25)
number_of_guess = 0

while number_of_guess < 5:
    print( '1,25 ke beech mai number chun madarchod')
    bol_na_madarchod = input()
    bol_na_madarchod = int(bol_na_madarchod)
    number_of_guess += 1

    if bol_na_madarchod ==  number:
        break
    elif number_of_guess == 5:
        break
    else:
        print('Maa chudhgayi')

if bol_na_madarchod == number:
    print('7 carore, you guessed in ' + str(number_of_guess) + 'tries!')
else:
    print('Gaand maraa. ' + str(number) + ' number tha ')

1,25 ke beech mai number chun madarchod

 55

Maa chudhgayi
1,25 ke beech mai number chun madarchod

 5

Maa chudhgayi
1,25 ke beech mai number chun madarchod

 5

Maa chudhgayi
1,25 ke beech mai number chun madarchod

 5

Maa chudhgayi
1,25 ke beech mai number chun madarchod

 5

Gaand maraa. 4 number tha

In [23]:
x = 1
i = 0
while x < 100:
   if i == 5:
       break
   print(i, x)
   x = x*2
   i += 1

0 1
1 2
2 4
3 8
4 16

In [25]:
### YOUR CODE HERE ###
candy_purchased = 0

while candy_purchased <6:
    print('candy purchased: ' + str(candy_purchased))
    candy_purchased +=1

candy purchased: 0
candy purchased: 1
candy purchased: 2
candy purchased: 3
candy purchased: 4
candy purchased: 5

In [27]:
### YOUR CODE HERE ###
candy_purchased = 0

while candy_purchased <101:
    if candy_purchased % 10 ==0:
        print('candy purchased: ' + str(candy_purchased))
    candy_purchased +=1

candy purchased: 0
candy purchased: 10
candy purchased: 20
candy purchased: 30
candy purchased: 40
candy purchased: 50
candy purchased: 60
candy purchased: 70
candy purchased: 80
candy purchased: 90
candy purchased: 100

In [31]:
product =1

for n in range(1,10):
    product = product*n

print(product)

362880

In [33]:
def to_celsius(x):
    return (x-32) * 5/9

In [35]:
to_celsius(50)

10.0

In [41]:
to_celsius(-28)

-33.333333333333336

In [51]:
for x in range(1, 101, 10):
    print(x, to_celsius(x))

1 -17.22222222222222
11 -11.666666666666666
21 -6.111111111111111
31 -0.5555555555555556
41 5.0
51 10.555555555555555
61 16.11111111111111
71 21.666666666666668
81 27.22222222222222
91 32.77777777777778

In [1]:
pets= 'cats and dogs'
pets

'cats and dogs'

In [7]:
pets.index('n')

6

In [9]:
pets.index('s')

3

In [11]:
pets[6]

'n'

In [13]:
pets[-1]

's'

In [15]:
pets[-2]

'g'

In [17]:
pets[1:4]

'ats'

In [19]:
pets[:4]

'cats'

In [21]:
pets[4:]

' and dogs'

In [25]:
'sheep' in pets

False

In [29]:
'cats' in pets

True

In [31]:
'cat'in pets

True

In [33]:
#list indexing
my_list = [1, 'unladen', 'swallow']
print(my_list[1])

print(my_list[-1])

unladen
swallow

In [35]:
my_list = (1, 'unladen', 'swallow')
print(my_list[1])

print(my_list[-1])

unladen
swallow

In [39]:
name = 'sathvik'
number = 3
print('hello {}, your token number is {}'.format(name,number))

hello sathvik, your token number is 3

In [41]:
name = 'sathvik'
number = 3
print('hello {name}, your token number is {num}'.format(name=name,num=number))

hello sathvik, your token number is 3

In [45]:
name = 'sathvik'
number = 3
print('hello {1}, your token number is {0}'.format(name,number))

hello 3, your token number is sathvik

In [1]:
#Tuples

fullname = ('Sathvik', 'R', 'Reddy'
           )

In [3]:
fullname

('Sathvik', 'R', 'Reddy')

In [5]:
fullname[2]

'Reddy'

In [17]:
fullname = fullname + ('Sri',)
fullname

('Sathvik', 'R', 'Reddy', 'Sri')

In [19]:
#list
print('rocks')
print(list('rocks'))
print(list(('stones', ' water', 'paper')))

rocks
['r', 'o', 'c', 'k', 's']
['stones', ' water', 'paper']

In [21]:
my_list = [1, 2, 1, 2, 'And through', ['and', 'through']]

In [23]:
my_list

[1, 2, 1, 2, 'And through', ['and', 'through']]

In [25]:
num_list = [1, 2, 3]
num_list[0] = 5446
print(num_list)

[5446, 2, 3]

In [27]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [('Marta', 20, 'center'),
        ('Ana', 22, 'point guard'),
        ('Gabi', 22, 'shooting guard'),
        ('Luz', 21, 'power forward'),
        ('Lorena', 19, 'small forward'),
        ]

In [39]:
def player_position(players):
    result =  []
    for name, age, position in players:
        result.append('Name: {} \nPosition: {}\n'.format(name,position))

    return result

In [41]:
#call fun in for loop
for player in player_position(team):
    print(player)

Name: Marta
Position: center

Name: Ana
Position: point guard

Name: Gabi
Position: shooting guard

Name: Luz
Position: power forward

Name: Lorena
Position: small forward

In [43]:
player_position(team)

['Name: Marta \nPosition: center\n',
 'Name: Ana \nPosition: point guard\n',
 'Name: Gabi \nPosition: shooting guard\n',
 'Name: Luz \nPosition: power forward\n',
 'Name: Lorena \nPosition: small forward\n']

In [1]:
#Dictionaries

In [3]:
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [5]:
team

[('Marta', 20, 'center'),
 ('Ana', 22, 'point guard'),
 ('Gabi', 22, 'shooting guard'),
 ('Luz', 21, 'power forward'),
 ('Lorena', 19, 'small forward'),
 ('Sandra', 19, 'center'),
 ('Mari', 18, 'point guard'),
 ('Esme', 18, 'shooting guard'),
 ('Lin', 18, 'power forward'),
 ('Sol', 19, 'small forward')]

In [11]:
new_team = {}
for name, age, position in team:
    if position in new_team:
        new_team[position].append((name, age))
    else:
        new_team[position] = [(name, age)]

new_team

{'center': [('Marta', 20), ('Sandra', 19)],
 'point guard': [('Ana', 22), ('Mari', 18)],
 'shooting guard': [('Gabi', 22), ('Esme', 18)],
 'power forward': [('Luz', 21), ('Lin', 18)],
 'small forward': [('Lorena', 19), ('Sol', 19)]}

In [13]:
new_team['point guard']

[('Ana', 22), ('Mari', 18)]

In [15]:
for x in new_team:
    print(x)

center
point guard
shooting guard
power forward
small forward

In [17]:
new_team.keys()

dict_keys(['center', 'point guard', 'shooting guard', 'power forward', 'small forward'])

In [19]:
new_team.values()

dict_values([[('Marta', 20), ('Sandra', 19)], [('Ana', 22), ('Mari', 18)], [('Gabi', 22), ('Esme', 18)], [('Luz', 21), ('Lin', 18)], [('Lorena', 19), ('Sol', 19)]])

In [21]:
new_team.items()

dict_items([('center', [('Marta', 20), ('Sandra', 19)]), ('point guard', [('Ana', 22), ('Mari', 18)]), ('shooting guard', [('Gabi', 22), ('Esme', 18)]), ('power forward', [('Luz', 21), ('Lin', 18)]), ('small forward', [('Lorena', 19), ('Sol', 19)])])

In [25]:
for a,b in new_team.items():
    print(a,b)

center [('Marta', 20), ('Sandra', 19)]
point guard [('Ana', 22), ('Mari', 18)]
shooting guard [('Gabi', 22), ('Esme', 18)]
power forward [('Luz', 21), ('Lin', 18)]
small forward [('Lorena', 19), ('Sol', 19)]

In [27]:
#Sets

In [35]:
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

{'baz', 'bar', 'foo'}

In [37]:
x = set(('foo', 'bar', 'baz', 'foo'))
print(x)

{'baz', 'bar', 'foo'}

In [39]:
x = set ('foo')
x

{'f', 'o'}

In [41]:
x = {'foo'}
x

{'foo'}

In [43]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1)

{1, 2, 3, 4, 5, 6}

In [45]:
print(set1.intersection(set2))

{4, 5, 6}

In [53]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
print(x1.union(x2))
print(x1 | x2)

{'quux', 'qux', 'baz', 'bar', 'foo'}
{'quux', 'qux', 'baz', 'bar', 'foo'}

In [9]:
import pandas as pd
import numpy as np

In [21]:
#Dataframe

df = pd.DataFrame(np.array([1,2,3]),
                  columns = ['a'])
df

   a
0  1
1  2
2  3

In [25]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),
                 columns = ['a','b','c'],
                 index = ['ab','ra','ca'])
df

    a  b  c
ab  1  2  3
ra  4  5  6
ca  7  8  9

In [1]:
'apple' in 'pineapple'

True

In [2]:
fruit  = 'apple'

In [3]:
'app' in fruit

True

In [4]:
'ale' in fruit

False

In [17]:
data = (1,2,3,
        4,5,6,
        7,8,9),
#columns = ['1'],['2'],['3']
data = pd.DataFrame(data)
data

   0  1  2  3  4  5  6  7  8
0  1  2  3  4  5  6  7  8  9

In [9]:
import numpy as np
import pandas as pd

In [8]:
!pip install numpy pandas
!pip install numpy numpy

Collecting numpy
  Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sathv\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sathv\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   --- ------------------------------------ 1.0/12.6 MB 6.1 MB/s eta 0:00:02
   ------ --------------------------------- 2.1/12.6 MB 5.7 MB/s eta 0:00:02
   --------- ------------------------------ 3.1/12.6 MB 5.5 MB/s eta 0:00:02
   ------------ --------------------------- 3.9/12.6 MB 5.1 MB/s eta 0:00:02
   --------------- ------------------------ 5.0/12.6 MB 4.9 MB/s eta 0:00:02
   ------------------ --------------------- 5.8/12.6 MB 4.8 MB/s eta 0:00:02
   --------------------- ------------------ 6.8/12.6 MB 4.8 MB/s eta 0:00:02
   ------------------------ --------------- 7.9/12.6 MB 4.8 MB/s eta 0:00:01
   ----------------------------- ---------- 9.2/12.6 MB 4.9 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 4.7 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.6 MB 4.9 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 4.7 MB/s eta 0:00:00
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 3.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.5 MB 3.7 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.5 MB 3.9 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 4.1 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.5 MB 4.2 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.5 MB 4.3 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.5 MB 4.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 4.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.5 MB 4.5 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 4.6 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 4.2 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\sathv\appdata\local\programs\python\python313\lib\site-packages (2.2.3)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
data = {
    "1": ['1','2','3'],
    "2": ['4','5','6'],
    "3": ['7', '8', '9']
}
data

{'1': ['1', '2', '3'], '2': ['4', '5', '6'], '3': ['7', '8', '9']}

In [20]:
data = pd.DataFrame(data)
data

   1  2  3
0  1  4  7
1  2  5  8
2  3  6  9

In [23]:
data[['1','2']]

   1  2
0  1  4
1  2  5
2  3  6

In [34]:
data.iloc[0:2, [1]]

   2
0  4
1  5

In [36]:
data.loc[0:2, '2']

0    4
1    5
2    6
Name: 2, dtype: object

In [42]:
data['2'] = int('3')

In [43]:
data['4'] = data['3']*100
data

   1  2  3    4
0  1  2  3  300
1  2  2  3  300
2  3  2  3  300

In [44]:
mask = (data['2'])>2
mask

0    False
1    False
2    False
Name: 2, dtype: bool